{% extends "layout.html" %}
{% block content %}
<h1> Index </h1>
<!--Si hay mensajes los muestros-->
{% with messages =  get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/add", method="POST">
    <h2>Registro de Usuarios</h2>
    <input type="text", name="contact_id", placeholder="ID">
    <input type="text" name="fullname" placeholder="Usuario">
    <input type="text" name="phone" placeholder="Telefono">
    <input type="text" name="email" placeholder="Email">
    <button type="submit"> SAVE </button>
</form>
</body>
{% endblock %}